#logo-label {
    width: 6rem;
}

.dropdown-menu {
    --bs-dropdown-min-width: 7rem;
}

nav > .container-fluid {
    padding: 0 2rem 0 2rem;
    box-sizing: border-box;
}

nav #navbarNavAltMarkup {
    justify-content: end;
}

@media (max-width: 640px) {
    main #carouselExampleCaptions .carousel-inner .carousel-item img:nth-child(1) {
        display: none !important;
    }
    main #carouselExampleCaptions .carousel-inner .carousel-item img:nth-child(2) {
        display: block;
        width: 100%;
    }
}
@media (min-width: 768px) {
    main #carouselExampleCaptions .carousel-inner .carousel-item img:nth-child(1) {
        display: block;
        height: 100vh;
    }
    main #carouselExampleCaptions .carousel-inner .carousel-item img:nth-child(2) {
        display: none !important;
    }
}
